{% load i18n %} {%language_switcher%}

<h1>{% trans 'Hello There' %}</h1>
<div>
  <p>
    {% blocktrans %} Life is a journey, not a destination. It's easy to get
    caught up in the idea of reaching a particular endpoint, whether it's a
    goal, a career milestone, or a personal achievement. But the truth is, life
    is all about the experiences we have and the people we meet along the way.
    Every day is an opportunity to learn something new, to grow as a person, and
    to appreciate the world around us. So instead of focusing solely on the end
    result, take time to enjoy the moments in between. Spend time with loved
    ones, explore new places, and pursue your passions. Embrace the ups and
    downs of life as part of the journey, and remember that it's the journey
    itself that makes life truly fulfilling. {% endblocktrans%}
  </p>
</div>
